<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enables processing of annotations like @Autowired, @PostConstruct, etc. -->
    <context:annotation-config/>

    <bean id="car1" class="org.springtest.beans.Car">
        <property name="model" value="audi"/>
    </bean>

    <bean id="car2" class="org.springtest.beans.Car" scope="prototype">
        <property name="model" value="bmw"/>
    </bean>

</beans>
